<!DOCTYPE HTML>
<html>
<head>
    <title>URL shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="https://raw.github.com/pawy/icons/master/sUrl_icons/1_Desktop_Icons/icon_016.png" />
</head>

<body>

<div class="container" id="header" style="margin-bottom: 20px" ></div>
<div id="surls" class="container" ></div>

<!-- Templates -->
<script type="text/template" id="tpl-header">
    <h1><img src="https://raw.github.com/pawy/icons/master/sUrl_icons/1_Desktop_Icons/icon_048.png" /><?= strtoupper(SERVER) ?> <small>URL shortener</small></h1>
    <div class="form-group">
        <label for="shorten">Shortened URL</label>
        <input class="form-control" type="text" id="url" placeholder="URL..." />
    </div>
    <button class="btn btn-primary new">Shorten URL</button>
</script>

<script type="text/template" id="tmpl_surl">
    <section id='<%= surl %>' style="padding:5px 0px 5px 0px">
        <a class="btn btn-sm btn-primary" style="width:100px" href='<%= link %>'>
            <%= surl %>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <button class="btn btn-sm  btn-default delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
    </section>
</script>

<!-- JavaScript -->
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/lib/underscore.js"></script>
<script src="/lib/backbone-min.js"></script>
<script src="surl.js"></script>

</body>
</html>